{% extends 'base.html' %}
{% block content %}
    <h1>Your Profile</h1>
    <img class="VL_image" src="{{ userprofile.image }}" style="width: 400px"/>

    <h3>Country: {{ userprofile.country }}</h3>
    <h3>Address: {{ userprofile.address }}</h3>
    <h3>Rating: {{ userprofile.rating }}</h3>

    <br><br><br><br><br><br><br><br><br><br><br>

    <h2>Update your profile here:</h2>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Update" />
    </form>
{% endblock %}