{% extends 'base.html' %}

{% block content %}
    <h2 class="newlist-header" xmlns="http://www.w3.org/1999/html">New Listing</h2>
    <div class="newlist-container">
        <div class="newlistitem newlistingsName">
            <lable class="newlisting newlistingsName"> Name: </lable>
            <input class="inputfeild inputname newlistingsName" type="text" name="nameinput">
        </div>
        <div class="newlistitem newlistingsPrice">
            <lable class="newlisting"> Price: </lable>
            <input class="inputfeild inputname" type="number" name="nameinput"> $ </input>
        </div>
        <div class="newlistitem newlistingsCondtition">
            <lable class="newlisting newlistingsCondtition"> Condition: </lable>
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
        </div>
        <div class="newlistitem newlistingsDescription">
            <lable class="newlisting "> Description: </lable>
            <input class="inputfeild inputdesc" type="text" name="descriptioninput">
        </div>
        <div class="newlistitem newlistingsImages">
            <lable class="newlisting newlistingsImages"> Images: </lable>
        </div>
    </div>
    <div class="confirm-cancel button">
        <button class="confirmbutton greenbutton"> Confirm </button>
        <button class="cancelbutton redbutton" href="/">Cancel</button>
    </div>


{% endblock %}

