* {
    box-sizing: border-box;
}



body {
    margin: .5em;

}
.content-container {
    display: block;
    width: 100%;
    padding: 1em;
}


.actual-listing-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}


.single-listing-name{
    width: 30%;
}


.listing-img {
    border: 4px black;
    height: 100%;
    min-width: 15%;
    max-width: 15%;
    align-self: start;
    justify-self: left;

}
.rightbtn {
    align-content: center;
}


.para-sl {
    margin-top: 2em;
    width: 30%;
}

.list-listings {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.single-listing {
    display: inherit;
    flex: 1 0 30%;
    width: 80%;
    flex-direction: row;
    background-color: rgb(224, 126, 126, 0.4);
    margin: 2em;

}

.single-listing-container {
    display: inherit;
    flex: 1 0 30%;
    width: 80%;
    flex-direction: row;
    background-color: rgb(224, 126, 126, 0.4);
    margin: 2em;
    max-height: 6em;

}
/*newlistings */


/*HomepageAllListings */
.container-listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

.Single_listing {
    display: flex;
    flex: 1 0 30%;
    justify-content: center;
    gap: 20%;
    flex-direction: row;
    align-items: center;

}

.listing_img {
    max-height: 20em;
    max-width: 20em;
}

.homepage_title {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
}

.listing_price {
    align-self: end;
    text-decoration: none;
}

/* listing details */
.container-listing-desc {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.VL_header {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    order: -20;
}

.VL_image {
    justify-self: left;
    order: -1;
    height: 40%;
    width: 40%;
}

.VL_description {
    order: 0;

}

.VL_price {
    align-self: end;
}