* {
    box-sizing: border-box;
}

.homepagecss {
    background-color: green;
}

body {
    margin: .5em;

}
.content-container {
    display: block;
    width: 100%;
    padding: 2em;
}
/*newlistings */



