{% extends 'base.html' %}
{% load static %}
<!-- NAME THESE CLASSES??? -->
{% block content %}
     <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.." />
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>
    <h1 class="">LIST OF LISTINGS</h1>
    <div class="list-listings">
        {% for item in listings %}
            {% include 'my_listings/single_listing.html' with item=item %}
        {% endfor %}
    </div>
{% endblock %}