{% load static %}

<!-- NAME THESE CLASSES??? -->
<div class="single-listing-container">
    <a href="/my_listings/{{ item.listing_id }}" class="actual-listing-container">
        <img class="listing-img" src="{{ item.listing_image_url }}" />
        <h4 class="single-listing-name">{{ item.name }}, {{ item.listing_price }}$</h4>
        <p class="para-sl">{{ item.listing_description }}</p>
        <div class="offer">
    </a>
    </div>
        {% if item.listing_sold == True %}
            <p class="offertext">Listing Sold</p>
        {% elif item.listing_highest_offer == '0' %}
            <p class="offertext">Listing has no offers</p>
            {% else %}
            <p class="offertext">Highest Offer: {{ item.listing_highest_offer }}</p>
        <form class="Acceptoffer" method="post">
            {% csrf_token %}
            {{ form }}
            <input name="{{ listing.listing_id }}" type="submit" value="Accept Offer">
            <input type="hidden" value="{{ item.listing_id }}" name="listingid">
            <input type="hidden" value="{{ item.listing_highest_offer }}" name="listingoffer">
        </form>
        {% endif %}
        </div>


