{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Firesale</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/new_lis.css' %}" />
        <link rel=”stylesheet” href=”{% static 'css/listings.css' %}" />
        <link rel=”stylesheet” href=”{% static 'css/star.css' %}" />

    </head>
    <body>
    <div class="nav">
        {% include 'navigation.html' %}
    </div>
    <span></span>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
    </body>
    </html>