{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
</head>


    <body>
<footer class="mainfooter">
            <div class="container mainfootercontainer">
            <h3 class="bandname">Firesale</h3>
            <ul class="Nav footernav">
                <li>
                    <a href="https://www.spotify.com/" target="_blank"><img src="Images/download.png" width="50" height="50"></a></li>
                <li>
                    <a href="https://youtube.com/" target="_blank"><img src="Images/download (4).jfif" width="50" height="50"></a></li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"><img src="Images/download (3).jfif" width="50" height="50"></a></li>
            </ul>
        </div>
        </footer>
    </body>

</html>