{% extends 'base.html' %}
{% block content %}

    {% for list in My_categorires %}
        <div>
        <h4>{{ list.Categorie }}</h4>
        <p>{{ list.product }}</p>
        </div>
    {% endfor %}

    <h2 class="newlist-header" xmlns="http://www.w3.org/1999/html">Review order</h2>
    <div class="newlist-container">

    </div>
    <div class="confirm-cancel button">
        <button><a href="{% url 'payment-index' %}">Previous</a></button>
        <button><a href="{% url 'order_confirmed-index' %}">Confirm payment</a></button>
    </div>
{% endblock %}